.Sbutton {
    width: 100%;
    background-color: #fb7413;
    border: none;
    color: white;
    border-radius: 22.5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    padding: 12px 32px;
}

.Sbutton:hover {
    background-color: #ff9b42;
}

.Sbutton:active {
    background-color: #FFFFFF;
    color: #ff9b42;
}